<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366155705462-059ope2aug9lgk48q6su3sn6l5mo5rb0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366155705462-059ope2aug9lgk48q6su3sn6l5mo5rb0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>366155705462-6trc6kdraeaabtgrt6urq94ivjocbrhe.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyALqr1b6ZZWjnDRQZO9QjtW1bF8z1PjOew</string>
	<key>GCM_SENDER_ID</key>
	<string>366155705462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseintegration</string>
	<key>PROJECT_ID</key>
	<string>fir-integration-ba6e4</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-integration-ba6e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366155705462:ios:b7721e93a123d283</string>
	<key>DATABASE_URL</key>
	<string>https://fir-integration-ba6e4.firebaseio.com</string>
</dict>
</plist>